@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 18px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.btn {
  padding: 1rem 3.5rem;
  border: none;
  border-radius: 3rem;
}

.hero-section {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 100%;
}

.hero-content, .content {
  text-align: center;
  margin: 20px 0;
}

.hero-content .heading, .content .heading {
  margin-bottom: 10px;
  color: #4c545d;
}

.hero-content p, .content p {
  color: #9fabb2;
  line-height: 1.5;
}

.hero-btns {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-btns .btn {
  margin: 10px 0;
  color: white;
}

.hero-btns .btn-ios {
  background-color: #26baa4;
  -webkit-box-shadow: 1px 1px 10px #26baa4;
          box-shadow: 1px 1px 10px #26baa4;
}

.hero-btns .btn-mac {
  background-color: #6173ff;
  -webkit-box-shadow: 1px 1px 10px #6173ff;
          box-shadow: 1px 1px 10px #6173ff;
}

@media (min-width: 768px) {
  .hero-section {
    min-height: 0;
    height: 500px;
    padding: 60px 30px 0 30px;
  }
  .hero-section::before {
    height: 190px;
  }
  .hero-content span {
    display: block;
  }
  .hero-content h1 {
    font-size: 40px;
  }
  .hero-btns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hero-btns .btn {
    margin-right: 20px;
  }
}

.info {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 20px;
  margin: 10px 0;
}

.info p {
  max-width: 70%;
}

@media (min-width: 768px) {
  .info {
    height: 20vh;
  }
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: 50px 0;
  padding: 30px;
  overflow: hidden;
}

.about .about-img {
  margin-bottom: 20px;
}

.about .about-img img {
  max-width: 100%;
  height: auto;
}

.about .about-content {
  padding: 0 20px;
}

.about .about-content .content {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .about {
    min-height: 0;
    height: 700px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding: 0 40px 0 0;
  }
  .about-content {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-content .content {
    margin-bottom: 20px;
  }
  .about-content .content p {
    max-width: 300px;
  }
  .about-content .heading {
    margin-bottom: 5px;
  }
  .about-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    margin: 0 0 0 -50px;
  }
  .about-img img {
    height: 100%;
    width: 100%;
  }
}

.access {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  margin: 10px 0;
}

.access .access-img {
  margin: 30px 0;
}

.access .access-img img {
  height: auto;
  max-width: 100%;
}

@media (min-width: 768px) {
  .access {
    padding: 20px 100px;
    height: 500px;
    margin: 60px 0;
  }
}

.companies {
  min-height: 100vh;
  padding: 20px;
  margin-top: 20px;
}

.companies-info .part-one .content img {
  margin: 20px 0;
}

.companies-info .part-two {
  margin: 50px  0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.companies-info .part-two img {
  display: block;
  margin: 20px;
}

@media (min-width: 768px) {
  .companies-info .part-one {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 40px 0;
  }
  .companies-info .part-one .content {
    margin: 10px;
  }
  .companies-info .part-two {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 900px) {
  .companies {
    min-height: 0;
    height: 500px;
  }
  .companies-info .part-one {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .companies-info .part-two {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.clipboard {
  min-height: 60vh;
  padding: 30px;
  margin: 60px 0;
}

@media (min-width: 768px) {
  .clipboard {
    min-height: 0;
    height: 300px;
  }
}

.footer {
  background-color: #dad8d8;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px  20px;
}

.footer a {
  display: block;
  text-decoration: none;
  color: #4c545d;
  padding: 1rem;
  text-align: center;
}

.logo {
  height: 40px;
  width: 40px;
}

.logo img {
  width: 100%;
  height: auto;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-icons img {
  margin: 10px;
}

@media (min-width: 768px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer a {
    text-align: left;
  }
  .footer-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .privacy {
    margin: 0 20px;
  }
}
/*# sourceMappingURL=main.css.map */